<link rel="stylesheet" href="/css/home.css">
<div class="container">
<div class="post">
    <% if(locals.user) { %>
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/post/create" id="new-post-from"  method="post">
            <textarea name="content"  cols="30" rows="3" placeholder="type here..."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <% } %> 
        
<div id="posts-list-container">
    <ul>
        <% posts.forEach((post)=>{ %>
            <li>
                <%if((locals.user && locals.user.id == post.user.id)) {%>
                    <a href="/post/destroy/<%= post.id%>">X</a>
                <% } %>
                <p><%= post.content %></p>
                <p><%= post.user.name %></p>
                <br>
                
            </li>
            <% if(locals.user) { %>
                <form action="/comment/create" method="post" id="new-comment-form">
                    <textarea name="content"  cols="10" rows="1" placeholder="Type Comment..." required></textarea>
                    <input type="hidden" name="post" value="<%= post._id%>">
                    <input type="submit" value="Comment">
                </form>
            <% } %>
            <div class="post-comments-list">
            <ul id="post-comments-<%= post._id%>">
            <% post.comments.forEach((comment)=>{%>

            <li>
            <p>
                <%if((locals.user && locals.user.id == comment.user.id)) {%>
                    <a href="/comment/destroy/<%= comment._id%>">X</a>
                <% } %>
                <%= comment.content %>
                <br>
                <small>
                    <%= comment.user.name %>
                </small>
            </p>
            </li>
            <% }); %>
            </ul>
            </div>
            <br>
        <% }); %>
    </ul>
</div>
</div>


<div class="friends">
    <section>
        <h4>Friends</h4>
        <ul type="none">
            <% all_user.forEach((user)=>{%>
                <li>
                    <a href="/users/profile/<%= user._id%>"><%= user.name %></a>
                </li>
            <%})%>
        </ul>
    </section>
</div>
</div>   
